
$containerWidth: 940px;
$baseFontSize: 18px;


$tablets: 768px;
$phones: 480px;

// color
$gray: #F8FAF9;
$body: #666666;
$black: #292929;
$yellow: #FEDB3F;


@import "./media.scss";
@import "./layout.scss";

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");



@import "blocks/hero.scss";
@import "blocks/header.scss";
@import "blocks/features.scss";
@import "blocks/btn.scss";
@import "blocks/section.scss";
@import "blocks/benefit.scss";
@import "blocks/benefits.scss";
@import "blocks/headline.scss";
@import "blocks/reviews.scss";
@import "blocks/interactive-avatar.scss";
@import "blocks/order.scss";
@import "blocks/form.scss";
@import "blocks/fixed-menu.scss"

