.product-section {
  background-color: #F8FAF9;
}

.product__slider {
  position: relative;

  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
  }
}

.product__slider--arrow {
  background: url("../img/arrow.png") center center no-repeat;
  background-size: contain;
  display: block;
  width: rem(13px);
  height: rem(28px);
  position: absolute;
  top: 50%;
  z-index: 10;


  &--direction--next {
    right: 0;
    transform: rotate(180deg);
  }

  &--direction--prev {
    left: 0;
  }

}

.product__title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.product__text {
  font-size: 18px;
  color: #666666;
  margin-bottom: 25px;
}

.specific__text {
  font-weight: bold;
}

.product__container {
  display: flex;
  text-align: left;
  padding: 40px;
  align-items: flex-end;

}

.product__col {
  flex: 1;
}

.specifics {
  display: flex;
}

.specific__block {
  flex: 1;
  margin-bottom: 25px;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 60px;
  font-weight: 300;
}

