.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 20px;
  max-width: 14.44444rem;
  position: relative;
}

.team__version-desctop.team__content {
  position: absolute;
  top: 100%;
}

.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}

.team__title {
  color: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
  border: 0;
  background: none;
  text-decoration: none;
}

.team__member {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.team__occ {
  font-weight: 400;
  margin-bottom: 4px;
  color: #292929;
  font-size: 18px;
}

.team__content-text {
  color: #666666;
}